---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import SplineSection from '../components/SplineSection.astro';
import SplineSection2 from '../components/SplineSection2.astro';
import Solutions from '../components/Solutions.astro';
import Providers from '../components/Providers.astro';
import Services from '../components/Services.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="BetFounding - Tu llave de éxito al mundo del igaming">
	<Header />
	<main>
		<Hero />
		<SplineSection />
		<Solutions />
		<SplineSection2 />
		<Providers />
		<Services />
		<Contact />
	</main>
	<Footer />
</Layout>

<style is:global>
	* {
		scroll-behavior: smooth;
	}
	
	body {
		overflow-x: hidden;
	}
</style>

